# Data Science Tools and Ecosystem

## In this notebook, we will be summarizing the commonly utilized Data Science Tools and Ecosystem.

### Objectives:

- list popular data science languages
- list commonly used libararies in data science
- list a few examples of open source data science tools used in the development environment
- show examples of evaluating arithmetice expressions in python

### Some of the most popular languages used in data science are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javascript
9. PHP
10. Visual Basic

### Some of the commonly used libraries in data science include:

1. NumPy
2. Matplotlib
3. Pandas
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Vegas
10. Big DL
11. ggplot
12. stringr
13. dplyr
14. caret

|Data Science Tools|
|---|
|MySQL|
|Apache Airflow|
|Model DB|

### Below are a few expressions the show how to evaluate arithmetic expressions in Python:

In [5]:
#This is a simple example showing multiplication then addition of integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Joshua Rodriguez